extends layout

block content
    script(src='/javascripts/index.js')
    .jumbotron
      h1=title
      p.lead
        | Find music events featuring your favorite artists from Spotify.
      p Music data provided by Bandsintown.
      if user
        if user.display_name
          h3= "Welcome, "+user.display_name+"!"
        p
          a.btn.btn-lg.btn-success#searchButton(role='button') Search
          fieldset
              span Within
              input#inputRadius(type='number', placeholder='Radius', min="1" max="150")
              span miles of
              input#inputZipCode(type='text', placeholder='Zip Code', pattern="d{5,5}(-\d{4,4})?")
      else
        p
          a.btn.btn-lg.btn-success(href='/login', role='button') Spotify Log-In
    if user && user.last_events
      #showList.list
        table
            thead
                th Event
                th When
                th Where
                th 
            tbody
              each event in user.last_events
                tr
                  td= event.title
                  td= event.formatted_datetime
                  td= event.formatted_location
                  td 
                    a(href=event.facebook_rsvp_url) RSVP
                    br
                    a(href=event.ticket_url) Tix
  // /container
